<h1 class="heading pgHead">Login to AngioBloom</h1>

<form method="POST" class="formContainer">
  
  <label for="email">Email</label>
  <div class="loginContainer">
    <input type="email" name="email" class="email">
  </div>
  
  <label for="password">Password</label>
  <div class="loginContainer">
    <input type="password" name="password" class="password">
  </div>
  
  <br>
  <input type="submit">

</form>