<h1>Signup with AngioBloom</h1>

<form method="POST">
  <div class="signupContainer">
    <label for="username">Username</label>
    <input type="text" name="username">
  </div>
  <div class="signupContainer">
    <label for="email">Email</label>
    <input type="email" name="email">
  </div>
  <div class="signupContainer">
    <label for="password">Password</label>
    <input type="password" name="password">
  </div>
  <div class="signupContainer">
    <label for="password2">Confirm Password</label>
    <input type="password" name="password2">
  </div>
  <input type="submit">
</form>