<h1 class="heading">Signup with AngioBloom</h1>

<form method="POST" class="formContainer">
  
  <label for="username">Username</label>
  <div class="signupContainer">
    <input type="text" name="username" id="username">
  </div>
  
  <label for="email">Email</label>
  <div class="signupContainer">
    <input type="email" name="email" class="email">
  </div>
  
  <label for="password">Password</label>
  <div class="signupContainer">
    <input type="password" name="password"class="password">
  </div>
  
  <label for="password2">Confirm Password</label>
  <div class="signupContainer">
    <input type="password" name="password2"class="password">
  </div>
  
  <br>
  <input type="submit">
</form>