<h1 class="heading allFlowerH1">So many flowers to see...</h1>

<div class="allFlowersContainer">
  <% for(var i = 0; i < flowers.length; i++) {%>
    <%  var imgUrl = cloudinary.url(flowers[i].flowerPhotos[0]) ? cloudinary.url(flowers[i].flowerPhotos[0].picture) : false %>
    <% if (flowers[i].name !== '') { %>
      <% if (imgUrl) { %>
        <div class="allFlowers">
          <a href="/flower/<%= flowers[i].name %>">
            <div class="mainFlowerName">
              <h3><%= flowers[i].name %></h3>
            </div>
            <div class="flowerPics" style="background-image:url(<%= imgUrl %>);"></div>
          </a>
        </div>
      <% } %>
    <% } %> 
  <% } %>
</div>