<h1 class="heading">So many flowers to see...</h1>

<div class="allFlowersContainer">
  <% flowers.forEach(function(flower){ %>
    <% var imgUrl = cloudinary.url(flower.flowerPhotos[0].picture )%>
    <% if (flower.name !== '') { %>
      <div class="allFlowers">
        <a href="/flower/<%= flower.name %>">
          <div class="mainFlowerName">
            <h3><%= flower.name %></h3>
          </div>
          <img src="<%= imgUrl %>" class="mainFlower">
        </a>
      </div>
    <% } %> 
  <% }) %>
</div>