<h1>So many flowers to see...</h1>

<% flowers.forEach(function(flower){ %>
  <% var imgUrl = cloudinary.url(flower.flowerPhotos[0].picture )%>
  <% if (flower.name !== '') { %>
    <div>
      <a href="/flower/<%= flower.name %>">
        <h3><%= flower.name %></h3>
        <img src="<%= imgUrl %>" class="mainFlower">
      </a>
    </div>
  <% } %> 
<% }) %>