<!DOCTYPE html>
<html>
  <head>
    <title>AngioBloom</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>
  <body>
    <header>
      <a href="/">Home</a>
      <a href="/flower/all">All flowers</a>
      <a href="/flower/upload">Upload</a>
      <a href="/myaccount">My Account</a>
      <a href="/login">Login</a>
      <a href="/signup">Signup</a>
      <a href="/logout">Logout</a>

      <label for="search">Search</label>
      <input type="text" name="searchTerm">
      
    </header>
    <% if (typeof alerts !== 'undefined') { %>
      <% for (key in alerts) { %>
        <% alerts[key].forEach(function(thisMsg) { %>
          <div class="alert alert-<%= key %>"><%= thisMsg %></div>
        <% }); %>
      <% } %>
    <% } %>
    
    <%- body %>
  </body>
</html>