<!DOCTYPE html>
<html>
  <head>
    <title>AngioBloom</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script type="text/javascript" src="/script.js"></script>
    <link rel="stylesheet" type="text/css" href="/main.css">
  </head>
  <body>
    <%- body %>
  </body>
</html>