<h1 class="heading">My Account</h1>

<h2 class="userInfo">Username: <%= photos[0].user.username %></h2>
<!-- <h2>Points: <%= photos[0].user.points ? photos[0].user.points : "0" %></h2> -->

<h2 class="heading">My Flowers</h2>

<div class="allFlowersContainer">
  <% for(var i = 0; i < photos.length; i++) { %>
    <% var imgUrl = cloudinary.url(photos[i].picture) %>
    <div class="allFlowers">
      <img src="<%= imgUrl %>" class="myPhoto">
      <h3><%= photos[i].flowerTaxonomy.name ? photos[i].flowerTaxonomy.name : "Unknown" %></h3>
    </div>
  <% } %>
</div>