<h1>My Account</h1>

<h2>Username: <%= photos[0].user.username %></h2>
<h2>Points: <%= photos[0].user.points ? photos[0].user.points : "0" %></h2>

<h2>My Flowers:</h2>

<% for(var i = 0; i < photos.length; i++) { %>
  <% var imgUrl = cloudinary.url(photos[i].picture) %>
  <div>
    <img src="<%= imgUrl %>" class="myPhoto">
    <h3><%= photos[i].flowerTaxonomy.name ? photos[i].flowerTaxonomy.name : "Unknown" %></h3>
  </div>
<% } %>