#allFlowers {
  margin: 0 33%;
}

#allFlowersBtn {
  background-color: #337ab7;
  border: 2px solid #337ab7;
  border-radius: 3px;
  height: 36px;
  width: 100%;
}

#allFlowersBtn:hover {
  border: 2px solid #1A619E;
}

#allFlowers a {
  color: white; 
}

.flowerContainer {
  margin: 0 auto;
  text-align: center;
}

.flowerTypes, .flowerPictures, .unknownFlowers {
  display: inline-block;
  margin: 5px;
}

.flowerTypes {
  height: 410px;
  text-align: center;
  width: 410px;
}

.mainFlower {
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 3%;
  height: 400px;
  margin: 0 auto;
  position: relative;
  width: 400px;
}

.mainFlower:hover {
  height: 410px;
  width: 410px;
}

.mainFlower h3 {
  background-color: rgba(225, 225, 225, 0.7);
  bottom: 20px;
  color: black;
  font-size: 28px;
  font-variant: small-caps;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 2px;
  padding-top: 2px;
  position: absolute;
  width: inherit;
}

.unknownFlowers {
  height: 410px;
  text-align: center;
  width: 410px;
}



/************************
MEDIA QUERIES
************************/

@media screen and (max-width: 450px) {
  .flowerTypes, .unknownFlowers {
    height: 185px;
    width: 185px;
  }

  #homeH1 {
    font-size: 25px;
  }

  #homeH2 {
    font-size: 17px;
  }

  .mainFlower {
    height: 180px;
    width: 180px;
  }

  .mainFlower:hover {
    height: 185px;
    width: 185px;
  }

  .mainFlower h3 {
    margin-top: 75%;
  }

  #unknownH2 {
    font-size: 22px;
  }
}

@media screen and (min-width: 451px) and (max-width: 500px) {
  .flowerTypes, .unknownFlowers {
    height: 214px;
    width: 214px;
  }

  #homeH1 {
    font-size: 30px;
  }

  #homeH2 {
    font-size: 20px;
  }

  .mainFlower {
    height: 209px;
    width: 209px;
  }

  .mainFlower:hover {
    height: 214px;
    width: 214px;
  }

  .mainFlower h3 {
    margin-top: 80%;
  }

  #unknownH2 {
    font-size: 25px;
  }

}

@media screen and (min-width: 501px) and (max-width: 550px) {
  .flowerTypes, .unknownFlowers {
    height: 237px;
    width: 237px;
  }

  #homeH1 {
    font-size: 32px;
  }

  #homeH2 {
    font-size: 22px;
  }

  .mainFlower {
    height: 233px;
    width: 233px;
  }

  .mainFlower:hover {
    height: 237px;
    width: 237px;
  }

  #unknownH2 {
    font-size: 28px;
  }
}

@media screen and (min-width: 551px) and (max-width: 600px) {
  .flowerTypes, .unknownFlowers {
    height: 263px;
    width: 263px;
  }

  #homeH1 {
    font-size: 34px;
  }

  #homeH2 {
    font-size: 24px;
  }

  .mainFlower {
    height: 258px;
    width: 258px;
  }

  .mainFlower:hover {
    height: 263px;
    width: 263px;
  }
}

@media screen and (min-width: 601px) and (max-width: 650px) {
  .flowerTypes, .unknownFlowers {
    height: 287px;
    width: 287px;
  }

  #homeH2 {
    font-size: 26px;
  }

  .mainFlower {
    height: 282px;
    width: 282px;
  }

  .mainFlower:hover {
    height: 287px;
    width: 287px;
  }
}

@media screen and (min-width: 651px) and (max-width: 700px) {
  .flowerTypes, .unknownFlowers {
    height: 312px;
    width: 312px;
  }

  #homeH2 {
    font-size: 28px;
  }

  .mainFlower {
    height: 307px;
    width: 307px;
  }

  .mainFlower:hover {
    height: 312px;
    width: 312px;
  }
}

@media screen and (min-width: 701px) and (max-width: 750px) {
  .flowerTypes, .unknownFlowers {
    height: 338px;
    width: 338px;
  }

  .mainFlower {
    height: 328px;
    width: 328px;
  }

  .mainFlower:hover {
    height: 338px;
    width: 338px;
  }
}

@media screen and (min-width: 751px) and (max-width: 800px) {
  .flowerTypes, .unknownFlowers {
    height: 362px;
    width: 362px;
  }

  .mainFlower {
    height: 352px;
    width: 352px;
  }

  .mainFlower:hover {
    height: 362px;
    width: 362px;
  }
}

@media screen and (min-width: 801px) and (max-width: 850px) {
  .flowerTypes, .unknownFlowers {
    height: 388px;
    width: 388px;
  }

  .mainFlower {
    height: 378px;
    width: 378px;
  }

  .mainFlower:hover {
    height: 388px;
    width: 388px;
  }
}

@media screen and (max-width: 1265px) {
  .flowerTypes:nth-child(5), .flowerTypes:nth-child(6) {
    display: none;
  }
}
