/*****************************
GENERAL
******************************/

body {
  background-color: green;
}



/*****************************
HOME PAGE
******************************/

.mainFlower {
  max-width: 450px;
}



/*****************************
MY ACCOUNT PAGE
******************************/

.myPhoto {
  max-width: 450px;
}



/*****************************
TAXONOMY PAGE
******************************/

#mainTaxonomyPic {
  max-width: 500px;
}

.secondaryTaxonomyPic {
  max-width: 450px;
}



/*****************************
UPLOAD PAGE
******************************/

#imgPreview img {
  width: 500px;
}