/*****************************
GENERAL
******************************/

body {
  background-color: green;
}



/*****************************
UPLOAD PAGE
******************************/

.mainFlower {
  max-width: 450px;
}



/*****************************
UPLOAD PAGE
******************************/

#imgPreview img {
  width: 500px;
}