/*****************************
ALL FLOWERS PAGE
******************************/

.allFlowers {
  display: inline-block;
  margin: 5px 10px 10px 10px;
}

.allFlowersContainer {
  text-align: center;
}



/*****************************
GENERAL
******************************/

body {
  background-color: whitesmoke;
}

.glyphicon-home {
  font-size: 1.5em; 
  margin-top: 5px; 
  margin: 0 auto;
}

.heading {
  text-align: center;
}

.navbar {
  border-radius: 0;
  margin: 0;
  padding: 0;
}

.navbar-default {
  border-bottom: 2px solid rgba(51, 122, 183, 0.34);
}

.navbar-default .navbar-brand {
  color: #337ab7;
}

.navbar-default .navbar-nav>li>a {
  color: #337ab7;
}


/*****************************
HOME PAGE
******************************/

#allFlowers {
  background-color: white;
  border-radius: 2%;
  margin-left: 12%;
  margin-top: 1%;
  width: 76%;
}

#allFlowers a {
  color: black; 
}

.flowerContainer {
  margin: 0 auto;
  text-align: center;
}

.flowerTypes, .flowerPictures, .unknownFlowers {
  display: inline-block;
  margin: 5px;
}

.mainFlower {
  background-position: 50% 50%;
  background-repeat: none;
  background-size: cover;
  float: left;
  height: 450px;
  position: relative;
  width: 450px;
}

.mainFlowerName {
  background-color: rgba(13, 103, 157, 1);
  color: #90AAB9;
  padding: 1px;
}



/*****************************
LOGIN/SIGNUP PAGE
******************************/

.email, .password, #username {
  width: 50%;
}

.formContainer {
  text-align: center;
}



/*****************************
MY ACCOUNT PAGE
******************************/

.myPhoto {
  background-position: 50% 50%;
  background-repeat: none;
  background-size: cover;
  float: left;
  height: 350px;
  position: relative;
  width: 350px;
}

.userInfo {
  text-align: center;
}



/*****************************
UNKNOWN PAGE
******************************/

#unknownFlowerPic, #unknownForm {
  text-align: center;
}

.unknownQuestions {
  margin: 10px;
}


/*****************************
UPLOAD PAGE
******************************/

/*#firstQuestions {
  display: inline-block;
  margin-top: 1%;
  text-align: center;
}

#imgPreview{
  height: 400px;
  width: 500px;
}

.imgUpload {
  float: left;
}

#imgUpload {
  padding-left: 50%;
}*/

.thumb-image {
  max-width: 100%;
}

#imgPreview img {
  width: 500px;
}

#imgUpload {
  margin-left: 40%;
  margin-top: 10px;
}

#uploadForm {
  text-align: center;
}

.uploadQuestions {
  margin: 10px;
}