.fa-flag {
  margin-right: 25%;
}

#flowerInfo {
  margin-right: 8%;
}

.flowerInfoContainer {
  display: inline-block;
  padding-left: 2%;
}

.flowerPictures {
  background-color: white;
  border: 10px solid white;
  box-shadow: 1px 1px 0px #aaa;
  border-radius: 3%;
  margin: 2% 1.8%;
}

#infoMapContainer {
  margin: 4% 15% 0;
}

.likeBtn {
  color: pink;
}

.secondaryTaxonomyPic {
  background-position: 50% 50%;
  background-size: cover;
  border: 15px solid white;
  border-radius: 3%;
  float: left;
  height: 450px;
  position: relative;
  width: 450px;
}

#map {
  max-width: 450px;
}

#photoContainers {
  text-align: center;
}

.secondaryTaxonomyPic {
  margin-bottom: 10px;
}

.scientificNames {
  display: inline-block; 
  margin: 0 20px;
}

#scientificNamesContainer {
  text-align: center;
}

.topImgText {
  background-color: rgba(13, 103, 157, 0.7);
  color: white;
  margin-bottom: 0px;
  margin-top: 0px;
  position: relative;
  padding: 6px;
}



/*****************************
MEDIA QUERIES
******************************/

@media screen and (max-width: 450px) {
  .fa {
    font-size: small;
  }

  .fa-flag {
    margin: 0px;
  }

  #flowerInfo {
    margin: 0 0 30px 0;
  }

  .flowerInfoContainer {
    margin: 0px;
    text-align: center;
  }

  .flowerPictures {
    border: 0px;
  }

  .flowerPictures h3 {
    font-size: 16px;
    width: 150px;
  }

  #map {
    margin: 0px;
    max-width: 250px;
    padding-bottom: 0px;
  }

  .scientificNames h2 {
    font-size: 20px;
  }

  .secondaryTaxonomyPic {
    height: 150px;
    margin: 0px;
    width: 150px;
  }
}

@media screen and (min-width: 451px) and (max-width: 500px) {
  .fa-flag {
    margin: 0px;
  }

  #flowerInfo h4 {
    font-size: 20px;
  }

  .flowerPictures {
    border: 0px;
  }

  .flowerPictures h3 {
    font-size: 20px;
    max-width: 205px;
  }

  #map {
    margin: 15px 0px;
    padding-bottom: 0px;
    width: 300px;
  }

  .scientificNames h2 {
    font-size: 24px;
    padding-right: 10px;
  }

  .secondaryTaxonomyPic {
    height: 205px;
    width: 205px;
  }
}

@media screen and (min-width: 501px) and (max-width: 550px) {
  .fa-flag {
    margin: 0px;
  }

  .flowerPictures {
    border: 0px;
  }

  .flowerPictures h3 {
    max-width: 230px;
  }

  #map {
    margin-left: -20px;
    margin-top: 10px;
    max-width: 350px;
    padding: 0px;
  }

  .secondaryTaxonomyPic {
    height: 230px;
    width: 230px;
  }
}

@media screen and (min-width: 551px) and (max-width: 600px) {
  .fa-flag {
    margin-right: 10%;
  }

  #flowerInfo h4 {
    font-size: 18px;
  }

  .flowerPictures {
    border: 0px;
  }

  .flowerPictures h3 {
    font-size: 20px;
    max-width: 255px;
  }

  #map {
    margin-top: 10px;
    padding-bottom: 0px;
    width: 350px;
  }

  .scientificNames h2 {
    font-size: 25px;
  }

  .secondaryTaxonomyPic {
    height: 255px;
    width: 255px;
  }
  
  .topImgText {
    font-size: 30px;
  }
}

@media screen and (min-width: 601px) and (max-width: 650px) {
  .fa-flag {
    margin-right: 10%;
  }

  #flowerInfo h4 {
    font-size: 20px;
  }

  .flowerPictures {
    border: 0px;
  }

  .flowerPictures h3 {
    max-width: 275px;
  }

  #map {
    margin: 10px 0 0 -20px;
    padding: 0px;
    width: 400px;
  }

  .secondaryTaxonomyPic {
    height: 275px;
    width: 275px;
  }
}

@media screen and (min-width: 651px) and (max-width: 700px) {
  .fa-flag {
    margin-right: 10%;
  }

  .flowerPictures {
    border: 0px;
  }

  .flowerPictures h3 {
    max-width: 300px;
  }

  #map {
    margin: 15px 0 0 -18px;
    padding: 0px;
  }

  .scientificNames h2 {
    font-size: 30px;
  }

  .secondaryTaxonomyPic {
    height: 300px;
    width: 300px;
  }
}

@media screen and (min-width: 701px) and (max-width: 750px) {
  .fa-flag {
    margin-right: 10%;
  }

  #flowerInfo {
    margin-right: 0px;
  }

  .flowerInfoContainer {
    width: 40%;
  }

  .flowerPictures {
    border: 0px;
    margin-left: 5%;
  }

  .flowerPictures h3 {
    max-width: 295px;
  }

  #infoMapContainer {
    margin: 4% 5% 0;
  }

  #map {
    margin-top: -140px;
    padding-bottom: 18%;
    width: 300px;
  }

  .scientificNames h2 {
    padding-right: 45px;
  }

  .secondaryTaxonomyPic {
    height: 295px;
    width: 295px;
  }
}

@media screen and (min-width: 751px) and (max-width: 1050px) {
  .fa-flag {
    margin-right: 18%;
  }

  .flowerInfoContainer {
    margin: 1% 2%;
    max-width: 300px;
  }

  #flowerInfo {
    margin: 0px;
  }

  #flowerInfo h4 {
    font-size: 16px;
  }

  .flowerPictures {
    border: 0px;
  }

  #infoMapContainer {
    margin: 4% 4% 0;
  }

  #map {
    margin-top: -45%;
    max-width: 350px;
    padding: 0px;
  }

  .secondaryTaxonomyPic {
    height: 342px;
    width: 342px;
  }
}

@media screen and (min-width: 855px) and (max-width: 1050px) {
  .flowerInfoContainer {
    max-width: 365px;
  }

  #map {
    margin: -20% 0 0 0;
  }

  #infoMapContainer {
    margin: 4% 5% 0;
  }
}

@media screen and (min-width: 930px) and (max-width: 1050px) {
  #infoMapContainer {
    margin: 4% 9% 0;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1050px) {
  #flowerInfo {
    max-width: 500px;
  }

  #flowerInfo h4 {
    font-size: 18px;
  }

  #map {
    max-width: 400px;
  }
}

@media screen and (min-width: 1051px) and (max-width: 1210px) {
  #flowerInfo {
    margin: 0px;
  }

 .flowerInfoContainer {
    margin: 0px;
  }

  #infoMapContainer {
    margin: 6% 8% 0;
  }
}

@media screen and (min-width: 1211px) and (max-width: 1330px) {
  #infoMapContainer {
      margin: 4% 8% 0;
  }
}

@media screen and (min-width: 1331px) and (max-width: 1390px) {
  #flowerInfo {
    margin: 0 3%;
  }

  #infoMapContainer {
    margin: 4% 12% 0;
  }
}
